@import 'mixins';
@import 'variables';
body{
	background: #333 url(../img/bg.png) repeat;
}
header{
	background: rgba(5,5,5,0.5);
	padding: 0;
}
.bodywrapper{
	padding: 5% 10%;
}
footer{
	padding: 0;
}
a{
	color: #4ebfe3;
}
.body{
	width: 100%;
	max-width: 1400px;
}
// HEADER
				
		// HEADER NAV BAR
				header{
	@include bg(0.5);
	.header{
		width: 100%;
	}
	.logodiv{
		display: inline-block;
		width: 50%;
		img{
			display: block;
			width: 100%;
			height: 200px;
			opacity: 0.3;
			margin: 0 auto;
		}

		@include bp($medium){
			display: block;
			margin: 0 auto;
			padding-bottom: 15px;
			padding-top: 15px;
		}
	}
	.mainnav{
		display: inline-block;
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;
		width: 50%;
		height: 250px;

		@include bp($medium){
			width: 100%;
			height: 100%;
			@include bg(0.5);
		}

		a{
			text-decoration: none;
			color: $lblue;
			display: block;
			margin: 0;
			line-height: 50px;

			li{
				padding: 0;
				margin: 0;
				list-style: none;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;

				@include bp($medium){
					border-radius: 0;
					border-top-left-radius: 10px;
					border-top-right-radius: 10px;
				}

				
				&:hover{
					background: rgba($lblue, 0.5);
				}
			}
			
			&:first-child li{
				border-top-left-radius: 0px;
			}
			&:last-child li{
				border-bottom-left-radius: 0px;
				@include bp($medium){
					border-top-right-radius: 0;
				}
			}

			@include bp($medium){
				width: 20%;
				display: inline-block;	
			}
		}

		p{
			margin: 0;
		}
	}
}
//@include bp($medium){}

 //MAIN BODY 
		
		 //FEATURE BOX 

				.featurebox{
					text-align: center;
					color: white;
					background: rgba(5,5,5,0.2);
					padding: 5% 2.5% 2.5% 5%;
					border-radius: 75px;
					-webkit-box-shadow: rgba(0,0,0,.3) 0 10px 50px, rgba(0,0,0,.3) 0 10px 40px, rgba(0,0,0,.3) 0 10px 30px;
					margin-bottom: 50px;
				}
				.featurebox img{
					vertical-align: center;
					border-radius: 25px;
					-webkit-box-shadow: rgba(0,0,0,.3) 0 10px 50px, rgba(0,0,0,.3) 0 10px 40px, rgba(0,0,0,.3) 0 10px 30px;
					margin-right: 25px;
					margin-bottom: 25px;
				}
				.featuretitle{
					margin-top: 0;
					color: #4ebfe3;
				}
				.fbvis{
					display: block;
				}

				 //FEATURE BOX 1 
						.fb1{
						}
						.fb1 img{
							width: 30%;
						}
						button.nb2{
							width: 30%;
							display: inline-block;
							text-align: center;
							background: rgba(78,191,227,0.4);
							border: none;
							padding: 10px;
							margin-top: 10px;
							border-radius: 10px;
							box-shadow: black 0 5px 5px;
						}
						button.nb2:hover{
							background-color: rgba(50,50,50,0.5);
						}

				 //FEATURE BOX 2 
						.fb2 img{
							width: 40%;
						}
				
				//FEATURE BOX 3 


				//FEATURE BOX 4 
						.fb4box{
							text-align: left;
							width: 90%;
							display: block;
							border-bottom: 1px solid black;
							padding: 50px 5% 25px 5%;
						}
						.boxright{
							text-align: right;
						}
						.fb4{
							padding-top: 0;
							padding-right: 0;
							padding-left: 0;
							font-size: 1.5em;
						}
						.fb4 img{
							width: 25%;
						}
						.boxright img{
							margin-left: 25px;
							margin-right: 0;
						}
						.fb4 .fb4box:last-child{
							border-bottom: none;
						}


				//FEATURE BOX 5 
						.day{
							width: 95%;
							text-align: left;
							font-size: 1.5em;
							margin-bottom: 25px;
						}
						.calday{
							text-align: center;
							display: block;
							text-decoration: none;
							background: rgba(50,50,50, 0.5);
							border: 2px solid black;
							border-bottom: 5px solid black;
							border-radius: 25px;
							padding: 15px 0;

							&:hover{
								background: rgba(150,150,150, 0.5);
							}
						}
						.daybyday{
							background: rgba(50,50,50, 0.5);
							border: 2px solid black;
							border-top: none;
							border-bottom-left-radius: 25px;
							border-bottom-right-radius: 25px;
							margin: 0 auto;
							padding-bottom: 0;
							overflow: hidden;

							.bs{
								overflow: hidden;
								border-bottom: 3px solid black;
							}
							.bs:last-child{
								border-bottom: none;
							}
							.floater{
								float: right;
								width: calc(65% - 3px);
								border-left: 3px solid black;
								padding-top: 20px;

								p{
									font-size: 0.7em;
									margin-left: 10px;
								}
								p:first-child{
									margin-top: 0;
								}
								.lastp{
									font-size: 0.5em;
								}
							}
							.otherbs{
								display: inline-block;
								height: 100%;
								width: 33%;
								padding-top: 25px;
								padding-left: 1%;
								padding-right: 1%;
								background: rgba(5,5,5, 0.5);
								padding-bottom: 500px;
								margin-bottom: -500px;

							}
							h3{
								text-align: center;
								font-size: 1em;
								font-weight: normal;
								margin: 0;
							}
							h4{
								text-align: center;
								font-size: 0.8em;
								font-weight: normal;
								margin: 0;
								margin-top: 5px;
							}
						}

						
				 //FEATURE BOX 6 

				 		button.nb6{
				 			width: 30%;
							display: inline-block;
							text-align: center;
							background: rgba(78,191,227,0.4);
							border: none;
							padding: 10px;
							margin-top: 10px;
							border-radius: 10px;
							box-shadow: black 0 5px 5px;
						}
						.fb6{
							input{
								padding: 5px;
								width: 30%;
								margin-bottom: 10px;
								border-radius: 25px;
								background: lightgrey;
								color: black;
							}

							.featuretitle7{
								margin-top: 50px;
								margin-bottom: 5px;
							}
							.news{
								width: 30%;
								display: inline-block;
								text-align: center;
								background: rgba(78,191,227,0.4);
								border: none;
								padding: 10px;
								margin-top: 10px;
								border-radius: 10px;
								box-shadow: black 0 5px 5px;
							}
						}


// FOOTER

.footertop{
	background: rgba(255,255,255,0.1);
	text-align: center;
	
	h2{
		display: inline;
		color: white;
		font-size: 3em;
		margin: 0;
		line-height: 50px;
	}
	.sponsors{
		margin: 0 auto;
		margin-top: 25px;
		width: 90%;
		text-align: center;

		.sponsorlogos{
			width: 80%;
			margin: 0 auto;
		}
		tr{
			width: 50%;
			margin: 0;
		}
		td{
			width: 50%;
			text-align: center;
			vertical-align: middle;
		}
		.sponsor{
			width: 80%;
			max-width: 300px;
		}

		p{
			text-align: left;

			a{
				text-decoration: none;
			}
		}
	}
}
.fancygradient1{
	text-align: center;
	height: 100px;
	background: -moz-linear-gradient(top,  rgba(5,5,5,0) 0%, rgba(255,255,255,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,5,5,0)), color-stop(100%,rgba(255,255,255,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(5,5,5,0) 0%,rgba(255,255,255,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(5,5,5,0) 0%,rgba(255,255,255,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(5,5,5,0) 0%,rgba(255,255,255,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(5,5,5,0) 0%,rgba(255,255,255,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00050505', endColorstr='#1affffff',GradientType=0 ); /* IE6-9 */

	
}
.fancygradient2{
	text-align: center;
	height: 100px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(5,5,5,0.5) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(5,5,5,0.5))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(5,5,5,0.5) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(5,5,5,0.5) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(5,5,5,0.5) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(5,5,5,0.5) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#80050505',GradientType=0 ); /* IE6-9 */
	

}

.footermid{
	background: rgba(5,5,5,0.5);
	margin-top: 0;
	padding-top: 50px;
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
	
	h2{
		display: inline;
		color: white;
		font-size: 3em;
		line-height: 50px;
		margin: 0;
	}

	.hostlogo{
		display: block;
	margin: 0 auto;
	}
	.tiy{
		margin-top: 25px;
		height: 195px;
		width: 220px;
		background: url(../img/logo-tiy.png) no-repeat 0 0;
		background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(../img/logo-tiy.svg);
	}
	.ums{
		margin-top: 25px;
		width: 320px;
		height: 140px;
		background: url(../img/logo-ums.png) no-repeat 0 0;
		background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url(../img/logo-ums.svg);
		margin-bottom: 25px;
	}
	a{
		font-size: 0.8em;
	}
	.fn1, .fn2, .fn3{
		padding-right: 10px;
		padding-left: 10px;
		border-right: 1px solid #4ebfe3;
	}
	.fn4{
		padding-left: 10px;
	}
}
@media screen and (max-width: $medium) {
		body{
			.bodywrapper{
				padding: 7%;
			}

			a{
				color: $lblue;
			}

			

			.dyndiv{
				margin-top: 50px;
				.featurebox{
					text-align: left;
					color: white;
					background: rgba(5,5,5,0.3);
					padding: 5% 5% 5% 5%;
					border-radius: 75px;
					-webkit-box-shadow: rgba(0,0,0,.3) 0 10px 50px, rgba(0,0,0,.3) 0 10px 40px, rgba(0,0,0,.3) 0 10px 30px;
					margin-bottom: 50px;

					img{
						display: none;
					}

					.featuretitle, h1{
						font-size: 1.8em;
						color: $lblue;
						text-align: center;
					}

					button.nb2{
						width: 80%;
						display: inline-block;
						text-align: center;
						background: rgba(78,191,227,0.4);
						border: none;
						padding: 10px;
						margin-top: 10px;
						margin-left: 10%;
						border-radius: 10px;
						box-shadow: black 0 5px 5px;
					}
					button.nb2:hover{
						background-color: rgba(78,191,227,0.2);
					}
				}
			}
		}
	}